@charset "UTF-8";
/* CSS Document */


header {
	background-color: #3C3CA1;
}
body {
	background-color: #D8C5FF;
}

.headcopy {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.table {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.headcopytable {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
	font-size: 25px;
	padding: 10px;
}

.td {
	margin: auto;
	width: 30%;
	padding:10px;
	color: white;
}
.tdfont {
	margin: auto;
	width: 30%;
	padding: 10px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
	color: white;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
	color: white;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
	color: white;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
	color: white;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
	color: white;
}

.square1 {
  height: 50px;
  width: 50px;
  background-color: #6767C3;
}

.square2 {
  height: 50px;
  width: 50px;
  background-color: #3C3CA1;
}

.square3 {
  height: 50px;
  width: 50px;
  background-color: #030340;
}

.square4 {
  height: 50px;
  width: 50px;
  background-color: #B2B2FF;
}
.piccenter {
	margin: auto;
	padding: 2%;
	width: 50%;
	display: block;
}